body {
  font-family: 'Share Tech Mono', monospace;
  background: rgba(160, 160, 160, 0.5) url("images/moon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: auto;
  background-attachment: fixed;
}

h1 {
  color: white;
  font-size: 3.0em;
}

h2 {
  color: white;
  font-size: 2.5em;
}

li {
  list-style-type: none;
}
.characters {
  color: white;
  word-wrap: normal;
  font-size: 1.875em;
  /*border-color: white;
  border-style: solid;
  border-radius: 10%;
  height: 100px;
  box-sizing: border-box;
  border-width: 2px;*/
}

.films {
  color: white;
  word-wrap: normal;
  font-size: 1.875em;
  /*border-color: white;
  border-style: solid;
  border-radius: 10%;
  height: 100px;
  box-sizing: border-box;
  border-width: 2px;*/
}